# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual Environment
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Logs
*.log

# Data & Models (large files)
data/
models/
*.joblib

# Environment Variables
.env

# VS Code settings
.vscode/










